# üìä Pr√©diction des prix des voitures

L'objectif de ce projet est de r√©aliser une √©tude sur le march√© des voitures d'occasions afin de d√©terminer quelles voitures ont des prix inf√©rieurs selon les caract√©ristiques et de pouvoir r√©aliser de bonnes affaires sur le march√©.

Pour ce faire, nous avons r√©alis√© un web scraping du site https://www.autoscout24.be/fr/ nous permettant de r√©cup√©rer et d'avoir une base de donn√©es en .csv pour le machine learning.

Nous avons nettoyer la base de donn√©es puis r√©aliser une analyse descriptive pour mieux comprendre les diff√©rentes variables.

Enfin les donn√©es ont √©t√© entrain√© sur les mod√®les de MACHINE LEARNING afin de ressortir un mod√®le les voitures ayant un prix inf√©rieur en dessous du prix pr√©dit pour leurs caract√©ristiques.

Scraping
Pour le scraping, nous avons utilis√© trois (3) fichiers, le fichier scraper_methods.py pour obtenir les contenus des pages HTML, puis le fichier VehicleScraper.py avec la classe VehicleScraper pour extraction des caract√©ristiques de voitures de chaque annonce et √† la fin main.py utilisant VehicleScraper pour le scraping de plusieurs pages et enregistrer sous vehicule.csv.

Les librairies

In [2]:
import os
import pandas as pd
import numpy as np  
import seaborn as sns 
import plotly.express as px
import matplotlib.pyplot as plt

from pathlib import Path 

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.linear_model import Ridge
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold, cross_val_score
from scipy.optimize import minimize_scalar
import joblib


sns.set_theme(style="whitegrid", palette="muted")
from matplotlib import rcParams
palette = sns.color_palette("pastel")

import warnings
warnings.filterwarnings("ignore")

**Les donn√©es**

In [11]:
BASE_DIR = Path().resolve()
DATA_DIR = BASE_DIR / 'Donnees'

#print(f"BASE_DIR: {BASE_DIR}")
#print(f"DATA_DIR: {DATA_DIR}")


df = pd.read_csv(DATA_DIR / 'vehicules.csv')
df.head(4)

,Mod√®le,Prix,Transmission,Version,Kilom√©trage,Carburant,Puissance,√âvaluations,Vendeur,Nom de la Voiture,Date
0,audi,‚Ç¨ 74‚ÄØ999,Bo√Æte automatique,55 TFSI Quattro Tiptronic S-Line INDIVIDUAL!,34‚ÄØ000 km,Essence,250 kW (340 CH),121,Kristof D'herde ‚Ä¢ BE-9300 Aalst,Audi Q855 TFSI Quattro Tiptronic S-Line INDIVI...,01/2021
1,audi,‚Ç¨ 118‚ÄØ900,Bo√Æte automatique,60 Hybride 49 CO2 BlackPack B&O 23' Leather,10 km,Electrique/Essence,340 kW (462 CH),107,Frederik Rik Maxime Jorn Hendrik ‚Ä¢ BE-8710 Wie...,Audi Q860 Hybride 49 CO2 BlackPack B&O 23' Lea...,01/2024
2,audi,‚Ç¨ 118‚ÄØ900,Bo√Æte automatique,60 Hybr 49gr Sline BlackPack B&O Leather 23',10 km,Electrique/Essence,340 kW (462 CH),107,Frederik Rik Maxime Jorn Hendrik ‚Ä¢ BE-8710 Wie...,Audi Q860 Hybr 49gr Sline BlackPack B&O Leathe...,01/2024
3,audi,‚Ç¨ 59‚ÄØ995,Bo√Æte automatique,50 TDi S-Line Quattro Tiptronic,95‚ÄØ702 km,Diesel,210 kW (286 CH),75,Mhr Jannick Lazoore ‚Ä¢ BE-8620 Nieuwpoort,Audi Q850 TDi S-Line Quattro Tiptronic,04/2019

**Nettoyage et traitement des donn√©es**

In [12]:
from cleaning_data.cleaning import nettoie 

df = nettoie(df)
df.head(4)

,mod√®le,prix,transmission,kilom√©trage,carburant,puissance,√©valuations
0,audi,74999.0,Bo√Æte automatique,34000.0,Essence,340.0,121.0
1,audi,118900.0,Bo√Æte automatique,10.0,Electrique/Essence,462.0,107.0
2,audi,118900.0,Bo√Æte automatique,10.0,Electrique/Essence,462.0,107.0
3,audi,59995.0,Bo√Æte automatique,95702.0,Diesel,286.0,75.0

In [13]:
print(f"la dimension de notre table  est : {df.shape}")

la dimension de notre table  est : (2670, 7)

In [15]:
df.describe()

                prix    kilom√©trage    puissance  √©valuations
count    2670.000000    2670.000000  2670.000000  2670.000000
mean    96578.187266   53196.666667   352.940075    71.760300
std    110014.952759   44613.449888   222.026120   101.638555
min      3900.000000       0.000000    69.000000     0.000000
25%     22000.000000   14500.000000   140.000000     9.000000
50%     54950.000000   44467.000000   286.000000    38.000000
75%    119950.000000   89088.000000   581.000000    93.000000
max    749995.000000  222222.000000   850.000000   671.000000

Variable	| Observations
prix	    | Moyenne ‚âà 96 578‚Ç¨, max tr√®s √©lev√© √† 749 995‚Ç¨, pr√©sence de valeurs extr√™mes, distribution probablement tr√®s asym√©trique (positive).
kilom√©trage	| Large plage (0 √† 222k km), m√©diane ‚âà 44k, donn√©es probablement asym√©triques aussi.
puissance	| Varie de 69 √† 850 chevaux, √ßa va de citadine √† supercar.
√©valuations	| Distribution fortement d√©s√©quilibr√©e, m√©diane √† 38 mais max √† 671 ! Beaucoup de v√©hicules avec peu d‚Äô√©valuations.

L'analyse exploratoire compl√®te des donn√©es dans https://github.com/nazif96/Car-price/blob/main/Notebooks/EDA.ipynb.

## Machine Learning

**Preprocessing des donn√©es**